@charset="UTF-8"

body {
				background-color: black;
}

h1 {
				color: #2ab41d;				
}

h1#principal {
      text-align: center;
				background-color: #2ab41d;
				color: #ffff;
}

h2 {
				color: #095807;
}

p {
				text-align: justify;
				text-indent: 30px;
}

.basico {
				color: #3c805e;
}

.intermediario {
				color: #80793c;
}

.avancado {
				color: #ff000b;
}

.destaque {
				
}